extends layout

block content
  h1= title
  iframe(src="/messages" title="messages" width="100%" height="500")
    include messages.pug 
  h2= 'Add a New Message'
    form(method= 'POST' action= '/new')
        input(
            type="text"
            name= "name"
            placeholder= "What's your name?"
            )
        input(
            type="text"
            name= "msgtext"
            placeholder= "Thoughts?"
            )
        button(type= "submit")= "Submit"